# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.pyc

# Django

# Virtual Environment Folders
Lib/
Scripts/
Include/
pyvenv.cfg

# Environment variables file
.env

# IDE configuration files
.vscode/
.idea/